<h1>Negros Nigthly Events</h1>
<p></p>
<br>
<br>
<br>
<input [(ngModel)]="content" placeholder="Search Event" class="input">
<button class="button is-success" (click)="createNote()">
  Search
</button>
<p>Browse by Categories</p>
<button class="button is-success" (click)="createNote()">
  Concert
</button>
<button class="button is-success" (click)="createNote()" >
  Gig
</button>
<button class="button is-success" (click)="createNote()" >
  Show
</button>
<hr>
<div *ngFor="let note of notes | async">
  <note-detail [note]="note"></note-detail>
</div>


